<div class="row">
  <div class="col-xs-12">
    <div *ngIf="!formShowing">
      <div class="target-container">
        <div class="target-heading clearfix"
          (click)="toggleTargetForm()">
          <h4> Add a Target<i class="pull-right glyphicon glyphicon-plus-sign"></i></h4>
        </div>
      </div>
    </div>
    <div *ngIf="formShowing">
      <form 
        [formGroup]="newTargetForm"
        (keydown.esc)="toggleTargetForm()">
        <div class="target-container">
          <div class="target-heading">
          <h4 (click)="toggleTargetForm()" class="pull-right"><i class="glyphicon glyphicon-minus-sign"></i></h4>
            <div class="form-group">
              <input 
                required
                type="text"
                id="compName"
                placeholder="Company Name"
                formControlName="compName">
            </div>
          </div>
          <div class="target-body">
            <div class="form-group">
              <input 
                type="text" 
                id="compAddress"
                placeholder="Address"
                formControlName="compAddress">
            </div>
      
            <div class="form-group">
              <input 
                type="text" 
                id="industry"
                placeholder="Industry"
                formControlName="industry">
            </div>
    
            <div class="form-group">
              <select 
                name="status" 
                id="status"
                formControlName="status">
                <option class="select-placeholder" selected disabled value="">-- Select a Status --</option>
                <option *ngFor="let status of statuses">{{ status }}</option>
              </select>
            </div>
          </div>
          <div class="target-footer">  
            <input
              type="submit" value="Submit"
              class="btn btn-primary submit-button"
              (click)="onAddTarget()">
          </div>
        </div>
      </form>
      </div>
      
  </div>
</div>