.my-form-container {
    display: inline-flex;
    align-items: center;
}

div.form-group {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .my-form-row {
        display: block;
    }
}

input#compName:invalid:not(.ng-pristine) {
    border-bottom: 1px solid #dd0000cb;
}