<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand">Target Tracker</a>
      </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <app-target-form></app-target-form>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <app-target
        *ngFor="let target of targets; let i = index"
        [target]="target"
        [id]="i"
        (click)="onSelectTarget(i)"
        (targetRemoved)="onTargetRemoved(i)">
      </app-target>
    </div>
    <div class="col-xs-4">
        <app-target-details></app-target-details>
      </div>
  </div>
</div>