/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arimo');

$primaryDark: #524c00;
$primaryMed: #827410;
$primaryLight: #b4a242;

$orangeDark: #bb4d00;

$grayDark: #E1E2E1;
$grayLight: #F5F5F6;

$white: #fff;

body {
    background-color: $grayLight;
    font-family: 'Arimo', sans-serif !important;
}

.target-container {
    margin-bottom: 20px;
    background-color: $white;
    border: 1px solid $primaryDark;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    .target-heading {
        color: $white;
        background-color: $primaryMed;
        padding: 10px 15px;
        border-bottom: 1px solid $primaryDark;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &:hover {
            background-color: $primaryDark;
            cursor: pointer;
        }
    }

    .target-body {
        padding: 15px;
        background-color: $grayLight;
    }

    .target-footer {
        padding: 10px 15px;
        background-color: $grayDark;
        border-top: 1px solid $primaryDark;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}

.navbar-default {
    background-color: $primaryLight;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $primaryDark;
    
    .navbar-brand {
        color: $white;
    }
}

i {
    cursor: pointer;
    color: $white;
    font-size: 2rem;

    &:hover {
        color: $primaryLight;
    }

    &.glyphicon.glyphicon-remove-sign:hover {
        color: $orangeDark;
    }
}

input, select {
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid;
    border-bottom-color: $primaryLight;
}

select#status {
    font-style: italic;
}


input#compName::-webkit-input-placeholder {
    color: $white;
}

input[type="date" i]::-webkit-input-placeholder {
    font-style: italic;
}


input:invalid:not(.ng-pristine) {
    border-bottom: 1px solid #dd0000cb;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;  
}
::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {  
    font-style: italic; 
}
